[submodule "NearPlugin/src"]
	path = NearPlugin/src
	url = https://github.com/orlp/ed25519.git
[submodule "packages/protocol"]
	path = packages/protocol
	url = https://github.com/battlemon-project/protocol.git
[submodule "packages/grpc"]
	path = packages/grpc
	url = https://github.com/grpc/grpc.git